{% extends "myapp/header.html" %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12" style="text-align: justify">
            <br>
            <a href="/about" class="btn btn-primary"> <b style="font-size:larger">About the website </b></a>
            <br><br>
            
            <p><b>The portal helps you take online tests that too  free of cost. There is both, student
                login as well as client login facility availabe.<b class='red'> Online Examination System </b> is a website that
                can be used for business and training tests, recruitment and pre-employment assessments, health and safety
                quizzes etc. <br><br>It fulfills the requirements of the organizations/institutes to <b class="blue">conduct the exams online</b>.
                They do not have to go to any software developer to make a separate site for being  able to conduct exams online. They just have to register on the site and enter the exam details
                (exam duration, excel file).<br><br> Students can give exam <b class="yell"> without the need of going to any physical destination.</b>                They can view the result at the same time. Administrator has the privilege to create, modify and delete the
                test papers and its questions. Users can register, login and give the test with their specific id.        <br><br>    Organizations can view the records of the enrolled students and can analyse the marks of those students who
                had taken the test. Students get to <b class="blue">know their results immediately</b> after submission
                of the test through a pop-up. <br><br>Thus, the purpose of the site is to provide a system
                that <b class="yell"> saves efforts and time </b> of both the institutes and the students and hence conduct
                online examination in an organised and efficient manner.<br><br>


                </b>
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-12" style="text-align: justify">
            <br>
            <a href="/about" class="btn btn-primary"> <b style="font-size:larger">About the developer </b></a>
            <br><br>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    <img src="https://avatars7.githubusercontent.com/u/20264412?v=4&s=300" alt="team member" class="img-responsive">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <p><b>Email:</b> doubledeep007@gmail.com</p>
                    </div>
                    <div class="s-link">
                        <a href="https://www.facebook.com/divesh.bisht.31" target="=_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://github.com/DiveshBisht" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/divesh-bisht-861a79127/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-title">
                <h5>Divesh Bisht</h5>
                <span>B.Tech (IT)</span>
                <p></p>
                <p><b>
                Python is my go-to language. I am a Data Science enthusiast having hands-on knowledge on Machine Learning and Deep Learning. I have done web development using Streamlit and Django Framework.
                </b>
            </p>
            </div>
        </div>

    </div>
    <br>

</div>
{% endblock %}